{% if reports %}
<div class="list-group">
{% for report in reports %}
    <a href="#" class="list-group-item list-group-item-action "> 
        <div class="d-flex w-100 justify-content-between"> 
            <h4 class="mb-1">
                #{{ report.reportnum }}
            </h4>
            <small>{{ report.cname.cname }}</small>
            <small>{{ report.cdatetime }}</small>
        </div>
        <p class="">
            {{ report.cdescription }}
        </p>
    </a>
{% endfor %}
</div>
{% else %}
<p>No reports matched your query.</p> 
{% endif %}
