{% extends "base.html" %}
{% block content %}
{% csrf_token %}
<h2 class="card-title">Search Police Reports</h2>
<div class="form-group">
    <div class="col-md-8">
        <div class="form-group row">
            <div class="w-20">
                <label for="reportNum" class="control-label">Report Number</label>
                <input type="text" id="search-reportNum" class='search-field form-control' name="reportNum" placeholder="Report Number"/>
            </div>
            <div class="w-20">
                <label for="crime" class="control-label">Crime</label>
                <select class="form-control" id="search-crime" name="crime">
                    <option value="" selected></option>

                </select>
            </div>
        </div>
    </div>
</div>

<div id="search-results" class="col-md-10 mx-auto">

</div>
{% endblock %}

